<table class="table is-bordered is-striped">
  <thead>
    <tr>
      <th></th>
      <th>Housing</th>
      <th>Utilities</th>
      <th>Food</th>
      <th>Clothing</th>
      <th>Medical/Healthcare</th>
      <th>Donations/Gifts</th>
      <th>Savings and Insurance</th>
      <th>Entertainment and
 Recreation</th>
      <th>Transportation</th>
      <th>Personal/Debt Payments/Misc</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Total</th>
      <th><%= @purpose_1 %></th>
      <th><%= @purpose_2 %></th>
      <th><%= @purpose_3 %></th>
      <th><%= @purpose_4 %></th>
      <th><%= @purpose_5 %></th>
      <th><%= @purpose_6 %></th>
      <th><%= @purpose_7 %></th>
      <th><%= @purpose_8 %></th>
      <th><%= @purpose_9 %></th>
      <th><%= @purpose_10 %></th>
    </tr>
  </tfoot>
</table>
