<table class="table is-bordered is-striped is-fullwidth">
  <thead>
    <tr>
    <% ["Currency", "Description", "Amount", "Occur at", "Type", "Purpose"].each do |e| %>
      <th><%= e %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% cashflows.each do |transaction, index| %>
      <tr>
        <td class=<%= transaction.cashflow_type.downcase %>><%= transaction.currency %></td>
        <td class=<%= transaction.cashflow_type.downcase %>><%= transaction.content %></td>
        <td class=<%= transaction.cashflow_type.downcase %>><%= transaction.amount %></td>
        <td class=<%= transaction.cashflow_type.downcase %> style="width: 125px"><%= transaction.occur_at.to_date %></td>
        <td class=<%= transaction.cashflow_type.downcase %>><%= transaction.cashflow_type %></td>
        <td class=<%= transaction.cashflow_type.downcase %>><%= transaction.purpose.purpose_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
