<table class="table is-bordered is-striped">
  <thead>
    <tr>
    <% ["Index", "Amount", "Content", "Currency", "Occur at", "Cashflow_type", "Purpose"].each do |e| %>
      <th><%= e %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% cashflows.each do |transaction, index| %>
      <tr>
        <th><%= index %></th>
        <td><%= transaction.amount %></td>
        <td><%= transaction.content %></td>
        <td><%= transaction.currency.name %></td>
        <td><%= transaction.occur_at %></td>
        <td><%= transaction.cashflow_type.trend %></td>
        <td><%= transaction.purpose.purpose_name %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th>
        <%= total %>
      </th>
      <th>
        Incomes: <%= incomes %>
      </th>
      <th>
        Outcomes: <%= outcomes %>
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
</table>
