
<div class="daily-report report">
<% if current_user.daily_cashflows.count >= 1 %>
  <div class="title report-title", style="text-align: center">
    <div class="level">
      <div class="level-item">
        <% day_before = @last_day - 1.day %>
        <%= link_to icon("arrow-left"), url_for(date: day_before) %>
      </div>
      <div class="level-item">
        <%= @last_day %>
      </div>
      <div class="level-item"></div>
        <% day_after = @last_day + 1.day %>
        <%= link_to icon("arrow-right"), url_for(date: day_after) %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-4">
      <%= render "pie_chart", {chart: @cashflows_by_currency, title: "Income VS Expense" }%>
    </div>

    <div class="column is-4">
      <%= render "pie_chart", {chart: @sum_by_day_and_purpose_hash["VND"]["Income"], title: "Income based on purpose" }%>
    </div>

    <div class="column is-4">
      <%= render "pie_chart", {chart: @sum_by_day_and_purpose_hash["VND"]["Expense"], title: "Expense based on purpose" }%>
    </div>
  </div>

  <br>
  
  <div class="columns">
    <div class="column">
      <%= render "line_chart", {chart: @purpose_multiline_chart_hash["VND"]["Income"], title: "Income Purpose Weekly Report"}%>
    </div>

    <div class="column">
      <%= render "line_chart", {chart: @purpose_multiline_chart_hash["VND"]["Expense"], title: "Expense Purpose Weekly Report"} %>
    </div>
  </div>  
  <br>
  <br>
  <%= render "line_chart_for_cashflow_type", {chart: @cashflow_type_multiline_chart_hash["VND"], title: "Income/Expense Weekly Report"} %>

  <div class="title report-title">Display all transactions </div>
  <%= render "display_by_attribute", {cashflows: @cashflows_by_day_and_currency.order(:occur_at), total:  0, incomes:  0, outcomes:  0 }%>

  <table class="table is-bordered is-striped">
    <thead>
      <tr>
        <th>Currency</th>
        <% ["Income", "Expense", "Income - Expense"].each do |e| %>
          <th><%= e %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% ["VND"].each_with_index do |currency, index| %>
        <tr>
          <td><%= currency %></td>
          <% if index == 0 %>
            <td><%= @sum_by_day_hash["VND"]["Income"] || @sum_by_day_hash["VND"]["Income"] = 0 %></td>
            <td><%= @sum_by_day_hash["VND"]["Expense"] || @sum_by_day_hash["VND"]["Expense"] = 0 %></td>     
            <td><%= (@sum_by_day_hash["VND"]["Income"] - @sum_by_day_hash["VND"]["Expense"] )%></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>








