
<div class="daily-report report">
<% if current_user.daily_cashflows.count >= 1 %>
  <div class="title">This is the report for <%= @last_day %></div>
  <div class="columns">
    <div class="column is-4">
      <%= render "pie_chart", {chart: @last_day_cashflows_vnd, title: "Income VS outcome" }%>
    </div>

    <div class="column is-4">
      <%= render "pie_chart", {chart: @last_day_vnd_income_purpose, title: "Income based on purpose" }%>
    </div>

    <div class="column is-4">
      <%= render "pie_chart", {chart: @last_day_vnd_outcome_purpose, title: "Outcome based on purpose" }%>
    </div>
  </div>

  <br>
  
  <div class="columns">
    <div class="column">
      <%= render "line_chart", chart: @this_week_vnd_income_cashflows, title: "Income in VND currency of this week" %>
    </div>

    <div class="column">
      <%= render "line_chart", chart: @this_week_vnd_outcome_cashflows, title: "Outcome in VND currency of this week" %>
    </div>
  </div>  
  <br>
  <br>
  <div class="title">Display all transactions </div>
  <%= render "display_by_attribute", {cashflows:@last_day_cashflows, total:  0, incomes:  0, outcomes:  0 }%>

  <table class="table is-bordered is-striped">
    <thead>
      <tr>
        <th>Currency</th>
        <% ["Income", "Outcome", "Income - Outcome"].each do |e| %>
          <th><%= e %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% ["VND"].each_with_index do |currency, index| %>
        <tr>
          <td><%= currency %></td>
          <% if index == 0 %>
            <td><%= @last_day_vnd_sum_by_day["Income"] || @last_day_vnd_sum_by_day["Income"] = 0 %></td>
            <td><%= @last_day_vnd_sum_by_day["Outcome"] || @last_day_vnd_sum_by_day["Outcome"] = 0 %></td>     
            <td><%= (@last_day_vnd_sum_by_day["Income"] - @last_day_vnd_sum_by_day["Outcome"] )%></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>




