
<div class="daily-report report">
<% if current_user.daily_cashflows.count >= 1 %>
  <div class="title report-title", style="text-align: center">
    <div class="level">
      <div class="level-item">
        <% day_before = @last_day - 1.day %>
        <%= link_to icon("arrow-left"), url_for(date: day_before) %>
      </div>
      <div class="level-item">
        <%= @last_day %>
      </div>
      <div class="level-item"></div>
        <% day_after = @last_day + 1.day %>
        <%= link_to icon("arrow-right"), url_for(date: day_after) %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-4">
      <%= render "pie_chart", {chart: @cashflows_by_currency, title: "Income VS Expense" }%>
    </div>

    <div class="column is-4">
      <%= render "pie_chart", {chart: @last_day_vnd_income_purpose, title: "Income based on purpose" }%>
    </div>

    <div class="column is-4">
      <%= render "pie_chart", {chart: @last_day_vnd_outcome_purpose, title: "Expense based on purpose" }%>
    </div>
  </div>

  <br>
  
  <div class="columns">
    <div class="column">
      <%= render "line_chart", chart: @this_week_vnd_income_cashflows, title: "Weekly Income" %>
    </div>

    <div class="column">
      <%= render "line_chart", chart: @this_week_vnd_outcome_cashflows, title: "Weekly Expense" %>
    </div>
  </div>  
  <br>
  <br>
  <div class="title report-title">Display all transactions </div>
  <%= render "display_by_attribute", {cashflows:@last_day_cashflows, total:  0, incomes:  0, outcomes:  0 }%>

  <table class="table is-bordered is-striped">
    <thead>
      <tr>
        <th>Currency</th>
        <% ["Income", "Expense", "Income - Expense"].each do |e| %>
          <th><%= e %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% ["VND"].each_with_index do |currency, index| %>
        <tr>
          <td><%= currency %></td>
          <% if index == 0 %>
            <td><%= @last_day_vnd_sum_by_day["Income"] || @last_day_vnd_sum_by_day["Income"] = 0 %></td>
            <td><%= @last_day_vnd_sum_by_day["Expense"] || @last_day_vnd_sum_by_day["Expense"] = 0 %></td>     
            <td><%= (@last_day_vnd_sum_by_day["Income"] - @last_day_vnd_sum_by_day["Expense"] )%></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>




