<h1>Welcome to Daily Report</h1>
<% unless current_user.daily_cashflows.count < 1 %>
  <h1>These graph display the data of: <%= @last_day %></h1>

  <div class="columns">
    <% ["VND", "USD"].each do |type| %>
      <div class="column">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
            Income VS outcome in <%= type %>currency
            </div>
          </div>
          <%= pie_chart current_user.cashflow_by_day(@last_day, type), width: "550px", height: "200px", download: true %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">
            Income by purpose in VND currency
          </div>
        </div>
        <div style="display:flex; flex-direction:row">
        <%= pie_chart @last_day_vnd_income_purpose, width: "550px", height: "350px"  %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">
            Outcome by purpose in VND currency
          </div>
        </div>
        <%= pie_chart @last_day_vnd_outcome_purpose, width: "550px", height: "350px" %>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">
            Income by purpose in USD currency
          </div>
        </div>
        <%= pie_chart @last_day_usd_income_purpose, width: "550px", height: "350px" %>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">
            Outcome by purpose in USD currency
          </div>
        </div>
        <%= pie_chart @last_day_usd_outcome_purpose, width: "550px", height: "350px"  %>
      </div>
    </div>
  </div>
  <br>
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-header" style="margin-bottom: 15px">
          <div class="card-header-title">
            Income in VND currency during last week
          </div>
        </div>
        <%= line_chart @last_week_vnd_income.group_by_day(:occur_at).sum(:amount), width: "550px", height: "300px"%>
      </div>
    </div>
    <br>
      <div class="column">
        <div class="card">
          <div class="card-header" style="margin-bottom: 15px">
            <div class="card-header-title">
              Outcome in VND currency during last week
            </div>
          </div>
          <%= line_chart @last_week_vnd_outcome.group_by_day(:occur_at).sum(:amount), width: "550px", height: "300px" %>
        </div>
      </div>
    </div>


<br>

  <div class="columns">

    <div class="column">
      <div class="card">
        <div class="card-header" style="margin-bottom: 15px">
          <div class="card-header-title">
            Income in USD currency during last week
          </div>
        </div>
        <%= line_chart @last_week_usd_income.group_by_day(:occur_at).sum(:amount), width: "550px", height: "300px"%>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-header" style="margin-bottom: 15px">
          <div class="card-header-title">
            Outcome in USD currency during last week
          </div>
        </div>
        <%= line_chart @last_week_usd_outcome.group_by_day(:occur_at).sum(:amount), colors: ["pink", "#999"], width: "500px", height: "300px" %>
      </div>
    </div>

  </div>

  <br>

  <h1>Report each transaction as excel file </h1>
  <%= render "display_by_attribute", {cashflows:@last_day_cashflows, total:  @last_day_vnd_total, incomes:  @last_day_vnd_income, outcomes:  @last_day_vnd_outcome }%>

  <table class="table is-bordered is-striped">
    <thead>
      <tr>
        <th>Currency</th>
        <% ["Income", "Outcome", "Income - Outcome", "Outcome - The largest purpose", "Outcome - The smallest purpose", "Income - The largest purpose", "Income - The smallest purpose"].each do |e| %>
          <th><%= e %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% ["USD", "VND"].each_with_index do |currency, index| %>
        <tr>
          <td><%= currency %></td>
          <% if index == 0 %>
            <td><%= @last_day_usd_income %></td>
            <td><%= @last_day_usd_outcome %></td>
            <td><%= @last_day_usd_total %></td>

          <% elsif index == 1 %>
            <td><%= @last_day_vnd_income %></td>
            <td><%= @last_day_vnd_outcome %></td>
            <td><%= @last_day_vnd_total %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>