<h1>Welcome to index 2 page</h1>
<br>
<h1>Quy hay de y su khac biet trong truc hoanh voi truc tung nha</h1>
<h1>Display VND Income</h1>
<h1>Cach 1: Use sum </h1>
<%= line_chart @income_vnd.group(:occur_at).sum(:amount) %>
<br><h1>Cach 2: Use .count </h1>
<%= line_chart @income_vnd.group(:occur_at).count %>

<br><h1>Display VND Outcome</h1><br>
<h1>Cach 1: Use sum </h1>
<%= line_chart @outcome_vnd.group(:occur_at).sum(:amount) %>
<br><h1>Cach 2: Use .count </h1>
<%= line_chart @outcome_vnd.group(:occur_at).count %>

<h1>Display USD Income</h1><br>
<h1>Cach 1: Use sum </h1>
<%= line_chart @income_usd.group(:occur_at).sum(:amount) %>
<br><h1>Cach 2: Use .count </h1>
<%= line_chart @income_usd.group(:occur_at).count %>

<h1>Display USD Outcome</h1><br>
<h1>Cach 1: Use sum </h1>
<%= line_chart @outcome_usd.group(:occur_at).sum(:amount) %>
<br><h1>Cach 2: Use .count </h1>
<%= line_chart @outcome_usd.group(:occur_at).count %>

<br><h1>Pie chart VND </h1>
<%= pie_chart @pie_vnd %>
<br><h1>Pie chart USD </h1>
<%= pie_chart @pie_usd %>
<br><h1>Pie chart last day income VND</h1>
<%= pie_chart @last_day_vnd_income_purpose, donut: true %>
<br><h1>Pie chart last day outcome VND</h1>
<%= pie_chart @last_day_vnd_outcome_purpose, donut: true %>
<br><h1>Pie chart last day income USD</h1>
<%= pie_chart @last_day_usd_income_purpose%>
<br><h1>Pie chart last day outcome USD</h1>
<%= pie_chart @last_day_usd_outcome_purpose%>

<h1>Display VND Income Last Day</h1>
<h1>Cach 1: Use sum </h1>
<%= line_chart @last_week_vnd_income.group_by_day_of_week(:occur_at, format: "%a").sum(:amount) %>
<br><h1>Cach 2: Use .count </h1>
<%= line_chart @last_week_vnd_income.group_by_day_of_week(:occur_at, format: "%a").count %>

<br><h1>Display VND Outcome</h1><br>
<h1>Cach 1: Use sum </h1>
<%= line_chart @last_week_vnd_outcome.group_by_day_of_week(:occur_at, format: "%a").sum(:amount)  %>
<br><h1>Cach 2: Use .count </h1>
<%= line_chart @last_week_vnd_outcome.group_by_day_of_week(:occur_at, format: "%a").count %>

<%= column_chart DailyCashflow.group_by_day_of_week(:occur_at, format: "%a").count %>
<%= area_chart DailyCashflow.group_by_day_of_week(:occur_at).maximum(:created_at) %>