
<h1>So luong Cashflow_types: <%= CashflowType.all.count %></h1> 
<h1>So luong Daily_cashflows: <%= DailyCashflow.all.count %></h1>
<h1>The last day: <%= @the_last_day%></h1>
<h1>Income new: <%= @incomes_new %></h1>

<table class="table is-bordered is-striped">
  <thead>
    <tr>
      <th>Index</th>
      <th>Amount</th>
      <th>Content</th>
      <th>Occur at</th>
      <th>Cashflow_type</th>
      <th>Purpose</th>
      <th>Stories</th>
    </tr>
  </thead>
  <tbody>
    <% @daily_cash_flows.each do |transaction, index| %>
      <tr>
        <th><%= index %></th>
        <td><%= transaction.amount %></td>
        <td><%= transaction.content %></td>
        <td><%= transaction.occur_at %></td>
        <td><%= transaction.cashflow_type.trend %></td>
        <td><%= transaction.purpose.purpose_name %></td>
        <td>No story</td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th>
        <%= @total %>
      </th>
      <th>
        Incomes: <%= @incomes %>
      </th>
      <th>
        Outcomes: <%= @outcomes %>
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
</table>

<br>
<%= render "last_day_table", the_last_day_cashflows: @the_last_day_cashflows %>
<br>
<h1>This table print based on purpose </h1>
<%= render "categories_table", locales: {purpose_1: @purpose_1, purpose_2: @purpose_2, purpose_3: @purpose_3, 
                                          purpose_4: @purpose_4, purpose_5: @purpose_5, purpose_6: @purpose_6,
                                          purpose_7: @purpose_7, purpose_8: @purpose_8, purpose_9: @purpose_9,
                                          purpose_10: @purpose_10} %>

<h1>This table print based on purpose _new _ use total_purposes </h1>
<%= render "categories_table_new", all_purposes: @all_purposes %>                                          

<%= form_tag search_daily_cashflows_path, :method => :get do %>
  <%= date_field_tag(:start_date, nil, placeholder: "Start date") %>
  <%= date_field_tag(:end_date, nil, placeholder: "End date") %>
  <%= submit_tag "Submit finding period" %>
<% end %>

<%= form_tag search_daily_cashflows_path, :method => :get do %>
  <%= select_tag "purposes_id", 
      options_from_collection_for_select(Purpose.all, "id", "purpose_name") %>
  <%= submit_tag "Submit finding purpose"%>
<% end %>



 