
<div class="monthly-report report">
  <div class="title", style="text-align: center">Report from <%= @last_month.beginning_of_month %> to <%= @last_month.end_of_month %></div>
  <div class="columns">
    <div class="column">
      <%= render "pie_chart", chart:  @last_month_cashflow_vnd.group(:cashflow_type).sum(:amount), title: "Income VS Outcome by month" %>
    </div>
    <div class="column">
      <%= render "pie_chart", chart:  @last_month_vnd_income_purpose, title: "Income by purpose" %>
    </div>
    <div class="column">
      <%= render "pie_chart", chart:  @last_month_vnd_outcome_purpose, title: "Outcome by purpose" %>
    </div>
  </div>

  
  <div class="columns">
    <div class="column">
      <%= render "line_chart", chart: @last_month_cashflow_vnd.where(cashflow_type: "Income").group_by_day(:occur_at).sum(:amount), title: "Sum income by day" %>
    </div>
    <div class="column">
      <%= render "line_chart", chart: @last_month_cashflow_vnd.where(cashflow_type: "Outcome").group_by_day(:occur_at).sum(:amount), title: "Sum outcome by day" %>
    </div>
  </div>


  <%= render "display_by_attribute", cashflows: @last_month_cashflow %>

</div>