
<div class="monthly-report report">
  <div class="title", style="text-align: center">
    <div class="level">
      <div class="level-item">
        <% month_before = @last_month - 1.month %>
        <%= link_to icon("arrow-left"), url_for(date: month_before) %>
      </div>
      <div class="level-item">
        <%= @last_month %>
      </div>
      <div class="level-item"></div>
        <% month_after = @last_day + 1.month %>
        <%= link_to icon("arrow-right"), url_for(date: month_after) %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <%= render "pie_chart", chart:  @last_month_cashflow_vnd.group(:cashflow_type).sum(:amount), title: "Income VS Expense by month" %>
    </div>
    <div class="column">
      <%= render "pie_chart", chart:  @last_month_vnd_income_purpose, title: "Income by purpose" %>
    </div>
    <div class="column">
      <%= render "pie_chart", chart:  @last_month_vnd_outcome_purpose, title: "Expense by purpose" %>
    </div>
  </div>

  
  <div class="columns">
    <div class="column">
      <%= render "line_chart", chart: @last_month_cashflow_vnd.where(cashflow_type: "Income").group_by_day(:occur_at).sum(:amount), title: "Sum income by day" %>
    </div>
    <div class="column">
      <%= render "line_chart", chart: @last_month_cashflow_vnd.where(cashflow_type: "Expense").group_by_day(:occur_at).sum(:amount), title: "Sum expense by day" %>
    </div>
  </div>


  <%= render "display_by_attribute", cashflows: @last_month_cashflow %>

</div>