<h1>Welcome to monthly report</h1>High top: <%= DailyCashflow.top([:occur_at, :cashflow_type, :purpose_id, :amount])%>
Test average <%= line_chart current_user.daily_cashflows.where(currency: "VND").where(cashflow_type: "Income").group_by_month(:occur_at).average(:amount) %>

<%= render "display_by_attribute", cashflows: @last_month_cashflow %>
<div class="columns">
  <div class="column">
    <%= render "pie_chart", chart:  @last_month_cashflow_vnd.group(:cashflow_type).sum(:amount), title: "Income VS Outcome by month" %>
  </div>
  <div class="column">
    <%= render "pie_chart", chart:  @last_month_vnd_income_purpose, title: "Purpose" %>
  </div>
</div>

<div class="columns">
  <div class="column">
    <%= render "line_chart", chart: @last_month_cashflow_vnd.where(cashflow_type: "Income").group_by_day(:occur_at).sum(:amount), title: "Sum income by day" %>
  </div>
  <div class="column">
    <%= render "line_chart", chart: @last_month_cashflow_vnd.where(cashflow_type: "Outcome").group_by_day(:occur_at).sum(:amount), title: "Sum outcome by day" %>
  </div>
</div>

