
<div class="monthly-report report">
  <div class="title", style="text-align: center">
    <div class="level">
      <div class="level-item">
        <% day_before = @last_day %>
        <% month_before = day_before.month %>
        <%= link_to icon("arrow-left"), url_for(date_before: day_before) %>
      </div>
      <div class="level-item">
        <%= @last_day.month %>
      </div>
      <div class="level-item"></div>
        <% day_after = @last_day %>
        <% month_after = day_after.month %>
        <%= link_to icon("arrow-right"), url_for(date_after: day_after) %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <%= render "pie_chart", chart:  @last_month_cashflow_vnd.group(:cashflow_type).sum(:amount), title: "Income VS Expense by month" %>
    </div>
    <div class="column">
      <%= render "pie_chart", chart:  @last_month_vnd_income_purpose, title: "Income by purpose" %>
    </div>
    <div class="column">
      <%= render "pie_chart", chart:  @last_month_vnd_outcome_purpose, title: "Expense by purpose" %>
    </div>
  </div>

  
  <div class="columns">
    <div class="column">
      <%= render "line_chart", chart: @purpose_multiline_chart, title: "Purpose by day" %>
    </div>
    <div class="column">
      <%= render "line_chart", chart: @cashflow_type_multiline_chart, title: "Cashflow Type by day" %>
    </div>
  </div>


  <%= render "display_by_attribute", cashflows: @last_month_cashflow %>

</div>


