<div class="columns is-centered daily_cashflow_form">
  <div class="column is-6">
    <div class="card">
      <div class="card-header">
        <div class="card-header-title">Create new <%= params[:type] %> transaction</div>
      </div>
      <%= form_for @daily_cash_flow do |f| %>
        <div class="field daily_cashflow_field general-field has-addons">
          <div class="control">
            <span class="select">
              <%= f.select(:currency, DailyCashflow::CURRENCIES.map {|currency| currency.titleize.upcase }) %>
            </span>
          </div>
          <div class="control is-expanded">
            <%= f.number_field :amount, placeholder: "Amount", class: "input" %>
          </div>
        </div>
        <div class="field daily_cashflow_field general-field">
          <%= f.datetime_field :occur_at, class: "input" %>
        </div>
        <div class="field daily_cashflow_field general-field">
          <%= f.text_area :content, placeholder: "Content", class: "input" %>
        </div>
          <%= f.hidden_field :cashflow_type, value: params[:type] %>
        <label class="label">Category: </label>
        <div class="field daily_cashflow_field general-field">
          <%#= f.select :purpose_id, options_from_collection_for_select(Purpose.all, "id", "purpose_name") %>
          <% Purpose.all.each_slice(7).each do |group| %>
            <div class="field is-horizontal horizontal-field">
              <div class="control">
                <% group.each do |purpose| %>
                <label class="radio purpose-radio" >
                  <div class="image icon-image">
                    <%= image_tag(purpose.icon_display)%>
                    <%= f.radio_button :purpose_id, purpose.id %>
                  </div>
                </label>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="column is-centered" style="display: flex; align-items:center; justify-content: center">
        <%= f.submit "Submit", class: "button is-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
