<h1>DailyCashflows#new</h1>
<p>Find me in app/views/daily_cashflows/new.html.erb</p>
<p>So luong Cashflow_types <%= @cashflow_types.count %></p>

<%= form_for @daily_cash_flow do |f| %>
  <%= f.number_field :amount, placeholder: "Amount" %>
  <%= f.datetime_field :occur_at %>
  <%= f.text_area :content, placeholder: "Content" %>
  <div class="select">
    <select>
      <% @friends.each do |friend|%>
        <option><%= friend.name %></option>
      <% end %>
    </select>
    <select>
      <% @cashflow_types.each do |type|%>
        <option><%= type.trend %></option>
      <% end %>
    </select>
    <select>
      <% @purposes.each do |purpose|%>
        <option><%= purpose.purpose_name %></option>
      <% end %>
    </select>
  </div>
  <%= f.submit "Create new cashflow nhaz" %>
<% end %>
