
<p>So luong Cashflow_types <%= CashflowType.all.count  %></p>
<div style="width: 400px">
<%= form_for @daily_cash_flow do |f| %>
  <div class="field">
    <%= f.number_field :amount, placeholder: "Amount", class: "input" %>
  </div>
  <div class="field">
    <%= f.datetime_field :occur_at, class: "input" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Content", class: "input" %>
  </div>
  <div class="field">
    <label class="label">Cashflow type: </label>
    <%= f.select :cashflow_type_id, options_from_collection_for_select(CashflowType.all, "id", "trend") %>
  </div>
  <div class="field">
    <label class="label">Purpose: </label>
    <%= f.select :purpose_id, options_from_collection_for_select(Purpose.all, "id", "purpose_name") %>
  </div>
  <div class="field">
    <label class="label">Currency: </label>
    <%= f.select :currency_id, options_from_collection_for_select(Currency.all, "id", "name")%>
  </div>
  <%= f.submit "Create new cashflow nhaz" %>
<% end %>
</div>