<h1>DailyCashflows#new</h1>
<p>Find me in app/views/daily_cashflows/new.html.erb</p>
<p>So luong Cashflow_types <%= @cashflow_types.count %></p>

<%= form_for @daily_cash_flow do |f| %>
  <%= f.number_field :amount, placeholder: "Amount" %>
  <%= f.datetime_field :occur_at %>
  <%= f.text_area :content, placeholder: "Content" %>
  <%= select_tag "friends", options_from_collection_for_select(@friends, "id", "name") %>
  <%= select_tag "cashflow_types", options_from_collection_for_select(@cashflow_types, "id", "trend") %>
  <%= select_tag "purposes", options_from_collection_for_select(@purposes, "id", "purpose_name") %>
  <%= f.submit "Create new cashflow nhaz" %>
<% end %>
