<h1>Welcome to search page</h1>
<h1>Liet ke danh sach cac transaction co trong period</h1>
<h1>So luong transaction: <%= @period_cashflows.count %></h1>
<h1>Start_date: <%= @start_date %></h1>
<h1>End_date: <%= @end_date %></h1>
<h1>Purpose: <%= @purpose %></h1>
<%= render "display_by_attribute", {cashflows: @period_cashflows, outcomes: @outcomes,
                                      incomes: @incomes,  total: @total}%>
<h1>All purposes: <%= @all_purposes.count %></h1>

  