
<div class="monthly-report report">
  <div class="report-summary">
    <div class="card">
      <div class="card-header">
        <div class="card-header-title">
        </div>
      </div>
      <div class="card-content">
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <%= render "pie_chart", chart:  @last_year_cashflows_vnd.group(:cashflow_type).sum(:amount), title: "Income VS Outcome by month" %>
    </div>
    <div class="column">
      <%= render "pie_chart", chart:  @last_year_vnd_income_purpose, title: "Income by purpose" %>
    </div>
    <div class="column">
      <%= render "pie_chart", chart:  @last_year_vnd_outcome_purpose, title: "Outcome by purpose" %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= render "line_chart", chart: @last_year_cashflows_vnd.where(cashflow_type: "Income").group_by_month(:occur_at).sum(:amount), title: "Sum income by month" %>
    </div>
    <div class="column ">
      <%= render "line_chart", chart: @last_year_cashflows_vnd.where(cashflow_type: "Outcome").group_by_month(:occur_at).sum(:amount), title: "Sum outcome by month" %>
    </div>
  </div>

  <%= render "display_by_attribute", cashflows: @last_year_cashflows %>
  
</div>