
<div class="monthly-report report">
  <div class="title", style="text-align: center">
    <div class="level">
      <div class="level-item">
        <% day_before = @last_day %>
        <%= link_to icon("arrow-left"), url_for(date_before: day_before) %>
      </div>
      <div class="level-item">
        <%= @last_day.year %>
      </div>
      <div class="level-item"></div>
        <% day_after = @last_day %>
        <%= link_to icon("arrow-right"), url_for(date_after: day_after) %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <%= render "pie_chart", chart:  @last_year_cashflows.where(currency: "VND").group(:cashflow_type).sum(:amount), title: "Income VS Expense by year" %>
    </div>
    <div class="column">
      <%= render "pie_chart", chart:  @sum_by_month_and_purpose_hash["VND"]["Income"], title: "Income by purpose" %>
    </div>
    <div class="column">
      <%= render "pie_chart", chart:  @sum_by_month_and_purpose_hash["VND"]["Expense"], title: "Expense by purpose" %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= render "line_chart", chart:  @purpose_multiline_chart_hash["VND"]["Income"], title: "Purpose Income by year" %>
    </div>
    <div class="column">
      <%= render "line_chart", chart:  @purpose_multiline_chart_hash["VND"]["Expense"], title: "Purpose Expense by year" %>
    </div>
  </div>
  
  <div>
    <%= render "line_chart", chart: @cashflow_type_multiline_chart_hash["VND"], title: "Cashflow Type by year" %>
  </div>
  <br>

  <%= render "display_by_attribute", cashflows: @last_year_cashflows.order(:occur_at) %>
  
</div>



