<!DOCTYPE html>
<html>
  <head>
    <title>Version1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <% unless current_user %>
        <div class="navbar-item">
          <%= link_to "Sign up",new_user_path %>
        </div>
        <div class="navbar-item">
          <%= link_to "Login",login_path %>
        </div>
      <% else %>
        <div class="navbar-item">
          <%= link_to "Logout",logout_path %>
        </div>
        <div class="navbar-item">
          <%= link_to "Create Category", new_purpose_path %>
        </div>
      <% end %>
    </div>
    <%= flash_messages %>
    <%= yield %>
  </body>
</html>
