<!DOCTYPE html>
<html>
  <head>
    <title>Version1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>" >
    <div class="navbar">
      <div class="navbar-menu">
        <% unless current_user %>
          <div class="navbar-start">
            <div class="navbar-item">
              <%= link_to "Sign up",new_user_path %>
            </div>
            <div class="navbar-item">
              <%= link_to "Login",login_path %>
            </div>
          </div>
        <% else %>
          <div class="navbar-start">
            <div class="navbar-item">
              <%= link_to "Home",root_path %>
            </div>
            <div class="navbar-item">
              <%= link_to "Daily Report", daily_report_path %>
            </div>
            <div class="navbar-item">
              <%= link_to "Monthly Report", monthly_report_path %>
            </div>
            <div class="navbar-item">
              <%= link_to "Yearly Report", yearly_report_path %>
            </div>
            <div class="navbar-item">
              <%= link_to "All Transaction", all_path %>
            </div>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <%= link_to "Create", new_daily_cashflow_path %>
            </div>
            <div class="navbar-item">
              <%= link_to "Logout",logout_path %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
